body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #191b1e;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.about {
    padding: 50px 0;
    text-align: center;
}

.contact {
    padding: 50px 0;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.skill {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: #333;
    width: 200px;
    text-align: center;
}

.hire-me {
    background-color: #007bff;
    padding: 20px;
    margin: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
  
  .logo {
    width: 200px;
    margin-left: 10px;
  }
  